html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "AlexBrush";
  src: url("assets/AlexBrush-Regular.otf");
}

h1 {
  font-family: "AlexBrush";
  font-size: 3.5vw;
}

h2 {
  text-align: center;
  padding: 2vh;
  font-family: "AlexBrush";
  font-size: 3vw;
  color: white;
}

body {
  background-repeat: repeat;
  background-image: url("assets/fond.png");
  background-size: cover;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-family: "calibri";
  font-style: normal;
}

header ul {
  list-style-type: none;
  height: 11vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #8A9DB5;
  align-items: center;
  border-bottom: 1px white solid;
}

header li a {
  display: block;
  color: white;
  padding: 3vw 3vw;
  text-decoration: none;
  font-size: 1.7vw;
  font-family: "calibri";
  font-style: normal;
}

header li a:hover {
  background-color: white;
  color: #8A9DB5;
}

form input[type=text] {
  width: 12.5vw;
}

.list_articles {
  display: flex;
  justify-content: space-around;
}

.list_articles img {
  resize: both;
  width: 15vw;
  height: 15vw;
}

figure {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px white solid;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img {
  max-width: 50vh;
  height: auto;
  padding-bottom: 20px;
}

@media (min-width:100px) and (max-width:1280px) {
  .list_articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  body {
    font-size: 1.8vw;
  }
}