html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "AlexBrush";
  src: url("assets/AlexBrush-Regular.otf");
}

h1 {
  font-family: "AlexBrush";
  font-size: 3.5vw;
}

h2 {
  text-align: center;
  padding: 2vh;
  font-family: "AlexBrush";
  font-size: 3vw;
  color: white;
}

body {
  background-repeat: repeat;
  background-image: url("assets/fond.png");
  background-size: cover;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: "calibri";
  font-style: normal;
}

header ul {
  list-style-type: none;
  height: 11vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #8A9DB5;
  align-items: center;
  border-bottom: 1px white solid;
}

header li a {
  display: block;
  color: white;
  padding: 3vw 3vw;
  text-decoration: none;
  font-size: 1.7vw;
  font-family: "calibri";
  font-style: normal;
}

header li a:hover {
  background-color: white;
  color: #8A9DB5;
}

form input[type=text] {
  width: 12.5vw;
}

.panier {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 5vw;
  align-items: center;
  border: 1px white solid;
}

.panier img {
  width: auto;
  height: auto;
  max-width: 10vw;
  max-height: 10vh;
  padding: 20px;
}

.panier-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 5vw;
  padding: 20px;
  border: 1px white solid;
}

.btn {
  color: white;
  background-color: #31AAF9;
  border: 1px white solid;
  border-radius: 10px;
  width: 15vw;
  height: 7vh;
}

@media (min-width:100px) and (max-width:1000px) {
  .btn {
    width: 25vw;
    font-size: 2vw;
    height: 8vw;
  }

  body {
    font-size: 2vw;
  }
}