html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "AlexBrush";
  src: url("assets/AlexBrush-Regular.otf");
}

h1 {
  font-family: "AlexBrush";
  font-size: 3.5vw;
}

h2 {
  text-align: center;
  padding: 2vh;
  font-family: "AlexBrush";
  font-size: 3vw;
  color: white;
}

body {
  background-repeat: repeat;
  background-image: url("assets/fond.png");
  background-size: cover;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-family: "calibri";
  font-style: normal;
}

header ul {
  list-style-type: none;
  height: 11vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #8A9DB5;
  align-items: center;
  border-bottom: 1px white solid;
}

header li a {
  display: block;
  color: white;
  padding: 3vw 3vw;
  text-decoration: none;
  font-size: 1.7vw;
  font-family: "calibri";
  font-style: normal;
}

header li a:hover {
  background-color: white;
  color: #8A9DB5;
}

form input[type=text] {
  width: 12.5vw;
}

#telephone, #carte {
  width: 25.5vw;
}

.tableau_coordonnee {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 10vh;
}

.tableau_coordonnee input[type=text] {
  width: 12.5vw;
}

table {
  padding: 3vw;
}

button {
  display: block;
  margin: auto;
  color: white;
  background-color: #31AAF9;
  border: 1px white solid;
  border-radius: 10px;
  width: 11vw;
  height: 6vh;
  font-family: "calibri";
  font-style: normal;
}

label {
  font-size: 1.1vw;
}

@media screen (min-width:100px) and (max-width:900px) {
  button {
    width: 20vw;
    font-size: 2vw;
    height: 6vw;
  }
}